In [2]:
import math
import numpy as np
import pandas as pd

In [8]:
df=pd.read_csv('KAG_conversion_data.csv')
df.head(20)

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1
5,708820,916,103929,30-34,M,29,1915,0,0.00,1,1
6,708889,916,103940,30-34,M,15,15615,3,4.77,1,0
7,708895,916,103941,30-34,M,16,10951,1,1.27,1,1
8,708953,916,103951,30-34,M,27,2355,1,1.50,1,0
9,708958,916,103952,30-34,M,28,9502,3,3.16,1,0
10,708979,916,103955,30-34,M,31,1224,0,0.00,1,0
11,709023,916,103962,30-34,M,7,735,0,0.00,1,0
12,709038,916,103965,30-34,M,16,5117,0,0.00,1,0
13,709040,916,103965,30-34,M,16,5120,0,0.00,1,0
14,709059,916,103968,30-34,M,20,14669,7,10.28,1,1
15,709105,916,103976,30-34,M,28,1241,0,0.00,1,1
16,709115,916,103978,30-34,M,30,2305,1,0.57,1,0
17,709124,916,103979,30-34,M,31,1024,0,0.00,1,1
18,709179,916,103988,35-39,M,15,4627,1,1.69,1,0
19,709183,916,103989,35-39,M,16,21026,4,4.63,2,1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
ad_id                  1143 non-null int64
xyz_campaign_id        1143 non-null int64
fb_campaign_id         1143 non-null int64
age                    1143 non-null object
gender                 1143 non-null object
interest               1143 non-null int64
Impressions            1143 non-null int64
Clicks                 1143 non-null int64
Spent                  1143 non-null float64
Total_Conversion       1143 non-null int64
Approved_Conversion    1143 non-null int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB